@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --bg-color: #f1af59;
  --text-color: #1a1a1a;
  --text-color-light: #f1f1f1;

  /* Font */
  --font-family: "Bricolage Grotesque", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
